<ion-side-menus>

	<ion-pane ion-side-menu-content edge-drag-threshold="true">
		
		<ion-nav-bar class="bar-stable nav-title-slide-ios7">
			<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
		</ion-nav-bar>

		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
		<!--    <header class="bar bar-header bar-stable">
		<h1 class="title sidemenu">Left</h1>
		</header> -->

		<ion-content class="sidemenu">
		
	<!--
			<ion-list>
				<label class="item item-input">
					<input class="search" type="text" placeholder="Search...">
				</label>
			</ion-list>
			-->
				
				<div style="font-size: 18px;padding: 15px; padding-left: 20px;">Search...</div>

			
				<div class="separator">
					User interaction
				</div>
				
				<div ng-controller="AuthenticationController" ng-if="isLoggedIn()">


					<div class="menu-item" ui-sref-active="menu-item-activated" nav-clear ui-sref="app.messages" menu-close>

						<div class="icon-container">
							<i class="icon ion-ios7-email"></i>	
						</div>
						
						<a ui-sref="app.messages" nav-clear>Messages</a>					
					</div>			



					<div class="menu-item" ui-sref-active="menu-item-activated" ng-click="openModal()" menu-close>

						<div class="icon-container">
							<i class="icon ion-log-in"></i>
						</div>
						
						<a ng-click="openModal()">Logout</a>
					</div>
					
				</div>

				<div ng-controller="AuthenticationController" ng-if="!isLoggedIn()">

					<div class="menu-item" ui-sref-active="menu-item-activated" ng-click="openModal()" menu-close>

						<div class="icon-container">
							<i class="icon ion-log-in"></i>
						</div>
						
						<a ng-click="openModal()">Login</a>
					</div>

					<div class="menu-item" ui-sref-active="menu-item-activated" menu-close>
						<a ui-sref="app.stores">
							<div class="icon-container">
								<i class="icon ion-person-add"></i>	
							</div>
							
							Register
						</a>
					</div>
				
				</div>




				<div class="separator">
					Browse
				</div>
	
				<div class="menu-item" ui-sref-active="menu-item-activated" nav-clear ui-sref="app.items" menu-close>

					<div class="icon-container">
						<i class="icon ion-bag"></i>	
					</div>
					
					<a ui-sref="app.items" nav-clear>Items</a>					
				</div>			


				<div class="menu-item" ui-sref-active="menu-item-activated" ui-sref="app.shops" nav-clear menu-close>

					<div class="icon-container">
						<i class="icon ion-ios7-home"></i> 
					</div>	

					<a ui-sref="app.shops" nav-clear>Stores</a>
				</div>			

				<div class="menu-item" ui-sref-active="menu-item-activated" ui-sref="app.brands" nav-clear menu-close>
					<div class="icon-container">
						<i class="icon ion-bookmark"></i>
					</div>

					<a ui-sref="app.brands" nav-clear>Brands</a>
				</div>




				<div class="separator" ng-if="isLoggedIn()">
					Lists
				</div>

				<div class="menu-item" ng-if="isLoggedIn()" ui-sref-active="menu-item-activated" nav-clear ui-sref="app.lists({userId: getUserId()})" menu-close>

					<div class="icon-container">
						<i class="icon ion-clipboard"></i>	
					</div>
					
					<a ui-sref="app.lists({userId: getUserId()})" nav-clear>My lists</a>					
				</div>		



				<div class="separator">
					Testing
				</div>

				<div class="menu-item" ui-sref-active="menu-item-activated" ui-sref="app.test" nav-clear menu-close>

					<div class="icon-container">
						<i class="icon ion-help-buoy"></i>	
					</div>
					
					<a ui-sref="app.items" nav-clear>Click me!</a>
				</div>			


		</ion-content>
	
	</ion-side-menu>

</ion-side-menus>
