<ion-view title="{{ title }}">

	<ion-nav-buttons side="left">
	    <ion-nav-back-button class="button-clear">
	        <i class="ion-arrow-left-c"></i> Back
	    </ion-nav-back-button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
	    <a class="button button-icon icon ion-gear-a whitey" ng-click="toggleFilters()"></a>
	</ion-nav-buttons>

	<ion-content class="has-header">

	    <div class="list-map ion-full-container">


			<ion-scroll zooming="false" direction="x" class="filters">
				<div style="width: {{ items.length * 100 }}px; height: 100px;">
					<div ng-if="tickedItems()" class="item-tick" ng-repeat="item in items" ng-class="{ 'ticked': item.ticked == true }" ng-click="tickItem(item)" style="background-image: url('{{ api }}/items/{{ item.id }}/thumb_{{ item.main_image.path }}');"></div>
					<div ng-if="!tickedItems()" class="item-tick" ng-repeat="item in items" ng-click="tickItem(item)" style="opacity: 1; background-image: url('{{ api }}/items/{{ item.id }}/thumb_{{ item.main_image.path }}');"></div>
					{{ tickedItems() }}
				</div>
			</ion-scroll>


			<map center="55.6752641,12.568307" zoom="14">

				<info-window id="foo">
					<div ng-non-bindable="">

<!--						<div style="width: {{ 100 * shop.items.length }}px;"> -->
						<div>

							<div ng-repeat='item in shop.items'>
								{{ item.id }}
<!--								<cloqetitem item="item"></cloqetitem>-->
							</div>

							{{ shop.shop_name }}: {{ shop.id }}<br />
							{{ shop.position }}
						</div>

					</div>
				</info-window>
				<!-- Fjern markers efter SHOP.ID 
				http://ngmap.github.io/drawings.html#/marker-remove#marker-remove
				-->
				<marker ng-repeat="(id, shop) in shops" id="{{ shop.id }}" position="{{ shop.position }}" on-click="showShop(event, id)"></marker>
			</map>


	    </div>

	</ion-content>

</ion-view>














