<ion-view title="{{ list.name }}">

    <ion-nav-buttons side="left">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-location whitey" ui-sref="app.list-map({ title: list.name, item_ids: item_ids, max_distance: 2500 })"></a>
    </ion-nav-buttons>


    <ion-content class="has-header">

        <div class="padding" ng-show="list.description">
            {{ list.description }}
        </div>

        <cloqetitem ng-repeat="item in list.items" item="item"></cloqetitem>


    </ion-content>

</ion-view>