<ion-view title="Lists" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon whitey"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">

		<div class="lists">

			<div class="card" ng-repeat="list in lists" ui-sref="app.list({listId: list.id})">
				
				<div class="item item-divider">
					{{ list.name }}
				</div>
				
				<div class="description" ng-show="list.description">
					{{ list.description }}
				</div>

				<div class="item list-item">

					<cloqetitem ng-repeat="item in list.items" disabled="true" item="item"></cloqetitem>			

					<div class="rotated-view-all" ui-sref="app.list({listId: list.id})">
						<div class="rotate">
							View list
						</div>
					</div>

<!--					<button class="button button-dark" ui-sref="app.list({listId: list.id})">View list</button> -->


				</div>


				<div class="item">

					<b>View list</b>

				</div>


			</div>
	
		</div>

	</ion-content>
</ion-view>