<div class="breadcrumbs">
    Collections / Create
</div>

<div class="topbar">
    <div class="title">Create collection</div>

    <div style="clear:both"></div>
</div>


<div class="content-after-top-bar">

	<div class="specifications">

		<ng-form ng-model="form" name="form">

            <div class="form-group" ng-class="{ 'has-error': !form.name.$valid && submitted }">
                <label class="control-label" for="name" ng-show="!form.name.$valid && submitted">You have to enter a name for your collection</label>
                <input type="text" class="form-control" name="name" ng-model="name" placeholder="Enter the name of the collection" required />
            </div>


            <label class="radio-inline">
                <input type="radio" ng-model="publish" value="1"> Publish (Public)
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="publish" value="0"> Private (Only you)
            </label>

            <textarea class="form-control margin-top textarea-height" ng-model="description" placeholder="Enter a description"></textarea>

            <hr />

            <div class="box-itemsize" ng-show="!updateBox.item" align="center">
                <div class="text">
                    Hover over an item to see a preview            
                </div>
            </div>
            
            <item ng-show="updateBox.item" item="updateBox.item"></item>
            
            <smallitem ng-repeat="item in items" item="item" ng-show="item.ticked" disabled="1"></smallitem>
            
            <div class="clear"></div>

            <hr />

            <input type="text" class="form-control" ng-model="search.name" placeholder="Search your items" />
            <item ng-repeat="item in items | filter:search" item="item" tickable="1"></item>

            <div class="clear"></div>

            <button class="btn btn-dark right" ng-click="saveCollection()">Save collection</button>

            <div class="clear"></div>
        </form>

	</div>


</div>
