<ion-view title="{{ item.name }}">

	<ion-nav-buttons side="left">
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-c"></i> Back
		</ion-nav-back-button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios7-camera whitey"></a>
	</ion-nav-buttons>

	<ion-content class="has-header">

		<div class="item-page">

			<ion-slide-box on-slide-changed="slideHasChanged($index)">


				<ion-slide ng-repeat="image in item.allimages">
					<div class="extra-info" ng-if="extra_info" ng-click="toggleInfo()">

						Extra info

					</div>

					<img ng-src="{{ api }}/items/{{ item.id }}/{{ image.path }}" ng-click="toggleInfo()">
				</ion-slide>



			</ion-slide-box>

			<div class="info">

				<div class="name">
					<b>{{ item.name }}</b> <br />
					{{ item.brand.brand_name }}
				</div>

				<div class="price">{{ item.prices[0].price }} {{ item.prices[0].currency }}</div>

			</div>

			<div class="buttons row">
				<div class="actionbutton love col">
					<span class="number icon-right ion-heart">&nbsp;29</span>
				</div>

				<div class="actionbutton want col">
					<span class="number icon-right ion-ios7-cart">&nbsp;6</span>
				</div>

				<div class="actionbutton have col">
					<span class="number icon-right ion-briefcase">&nbsp;14</span>
				</div>
			</div>

			<table class="list">
				<tr ng-repeat="shop in item.shops | orderBy: 'distance' | limitTo: 3">
					<td>{{ shop.shop_name }}
						<br />
						<div class="price">
							{{ shop.pivot.price | format_price}} DKK
						</div>
					</td>
					<td ng-click="directions(shop.lng, shop.lat)">{{ shop.distance | metricdistance }}</td>
					<td ng-click="directions(shop.lng, shop.lat)"><i class="icon-right ion-map right"></i></td>
				</tr>

				<tr>
					<td ng-click="openModal()" colspan="3"><b>View all</b></td>
				</tr>
			</table>

		</div>


			<!--
			<script id="all-stores.html" type="text/ng-template">
			-->
			<script id="all-stores.html" type="text/ng-template">

			<ion-modal-view>
				<ion-header-bar>
					<h1 class="title">All stores</h1>
					<button class="button button-icon icon ion-android-close whitey" ng-click="closeModal()"></button>
				</ion-header-bar>

				<ion-content>

					<div class="list">

						<div class="item item-divider">
							Sort by
						</div>

						<div class="item no-padding">
							<div class="row no-padding">
								<div class="col no-padding">
									<button ng-class="{'button-fullsize-active': sortBy == 'pivot.price'}" class="button button-fullsize whitey" ng-click="sortBy = 'pivot.price'">Price</button>
								</div>
								<div class="col no-padding">
									<button ng-class="{'button-fullsize-active': sortBy == 'distance'}" class="button button-fullsize whitey" ng-click="sortBy = 'distance'">Distance</button>
								</div>
							</div>
						</div>






						<div class="item item-divider">
							Distance - {{ distance_range }} meters
						</div>


						<div class="item range range-positive">
							0 m
							<input type="range" ng-model="distance_range" name="volume" min="0" max="500" value="250">
							500 m
						</div>


					</div>


					<table class="list">
						<tr ng-repeat="shop in item.shops | orderBy: sortBy">
							<td>{{ shop.shop_name }}
								<br />
								<div class="price">
									{{ shop.pivot.price | format_price}} DKK
								</div>
							</td>
							<td>{{ shop.distance | metricdistance }}</td>
							<td><i class="icon-right ion-map right"></i></td>
						</tr>
					</table>

				</ion-content>
			</ion-modal-view>
			</script>



		</div>

	</ion-content>

</ion-view>