<ion-view title="{{ brand.brand_name }}">

    <ion-nav-buttons side="left">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios7-email whitey"></a>
    </ion-nav-buttons>


    <ion-content class="has-header">

        <div class="profile">


            <div class="top" ng-click="toggleInfo()">
                {{ brand.description }}
            </div>


            <div class="cover text-center" style="background-image: url('{{ root }}/cover-images/{{ brand.cover }}');" ng-if="!info" ng-click="toggleInfo()">
                <img ng-src="{{ root }}/images/brand-logos/hugoboss.jpg" class="logo" />
            </div>

            <div class="buttons">
                <div class="row">
        
                    <button class="col button button-light icon ion-android-star" ui-sref-active="active" ui-sref="app.brand.featured"></button>
                    <button class="col button button-light icon ion-ios7-clock" ui-sref-active="active" ui-sref="app.brand.newest"></button>
                    <button class="col button button-light icon ion-ios7-browsers" ui-sref-active="active" ui-sref="app.brand.collections"></button>
                    <button class="col button button-light icon ion-heart" ng-click="like()" ng-class="{ 'heart-active': i_like  && isLoggedIn() }"></button>

                </div>

            </div>

            <div ui-view></div>
        
        </div>
        

    </ion-content>

</ion-view>


























