
<div class="content-after-top-bar padding">

	<div class="row">
		<div class="col-md-3 vcenter">
			Tag stores that stores this item
		</div>

		<div class="col-md-9">
			<input ng-model="shop_search" type="text" placeholder="Search for shops" class="form-control">
		</div>
	</div>

	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Name</th>
			<th>Street</th>
			<th>Postal</th>
			<th>City</th>
			<th>Country</th>
		</tr>
		<tr ng-repeat="shop in shops | filter: shop_search">
			<td><input type="checkbox" id="checkbox{{shop.id}}" ng-change="checkboxChanged(shop)" ng-model="shop.checked"></td>
			<td>
				<label for="checkbox{{shop.id}}">
					{{ shop.shop_name }}
				</label>
			</td>

			<td>
				<label for="checkbox{{shop.id}}">
					{{ shop.street }}
				</label>
			</td>

			<td>
				<label for="checkbox{{shop.id}}">
					{{ shop.postal }}
				</label>
			</td>

			<td>
				<label for="checkbox{{shop.id}}">
					{{ shop.city }}
				</label>
			</td>

			<td>
				<label for="checkbox{{shop.id}}">
					{{ shop.country }}
				</label>
			</td>

		</tr>
	</table>

	<div class="row">
		
		<div class="col-md-8"></div>
		<div class="col-md-2">
			<button class="btn btn-dark btn-block" ng-click="open()">Add new store</button>
		</div>
		<div class="col-md-2">
			<button class="btn btn-primary btn-block" ng-click="attachShops()">Save</button>
		</div>

	</div>

    <div class="clear"></div>
</div>






<script type="text/ng-template" id="addShop.html">
    <div class="modal-header">
        <h3 class="modal-title">Add new store</h3>
    </div>
    <div class="modal-body">
		<input type="text" class="form-control" ng-model="$parent.name" placeholder="Enter the name of the store">
		<input type="text" class="form-control" ng-model="$parent.address" placeholder="Enter the adress of the store">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
