<div class="padding">

    <div id="collection">

        <h1>{{ collection.name }}</h1>

		<ul rn-carousel class="image" rn-carousel-index="slideIndex">
            <li ng-repeat="image in images" ng-style="{ backgroundImage: 'url(' + image + ')' }">
                <div class="layer"></div>
            </li>
		</ul>

        <div class="padding-top" ng-bind-html="collection.description" style="margin-top: 20px;"></div>        
        <hr />

        <div class="clear"></div>

        <item ng-repeat="item in collection.items" item="item"></item>

        <div class="clear"></div>
    </div>

</div>