<ion-view title="Stores" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon whitey"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">

		<div class="shops">
			<shop ng-repeat="shop in shops" shop="shop"></shop>
		</div>

	</ion-content>
</ion-view>