<ion-modal-view>
	<ion-header-bar>

		<h1 class="title">Login</h1>
		<button class="button button-icon icon ion-android-close whitey" ng-click="closeModal()"></button>

	</ion-header-bar>

	<ion-content>

		<div class="list">

			<label class="item item-input">
				<input type="text" ng-model="user.email" placeholder="Enter your e-mail address">
			</label>

			<label class="item item-input">
				<input type="password" ng-model="user.password" placeholder="Enter your password">
			</label>

		</div>
		
		<div class="row">
			<div class="col">
				<button class="button button-block button-positive" ng-click="ok()">Login</button>
			</div>

			<div class="col">
				<button class="button button-block button-energized" ng-click="closeModal()">Cancel</button>
			</div>
		</div>

			
	</ion-content>
</ion-modal-view>