<ion-view title="Brands" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon whitey"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">

	
		<div ng-repeat="brand in brands"><a href ui-sref="app.brand.featured({brandId: brand.id})">{{ brand.brand_name }}</a></div>


	</ion-content>
</ion-view>