<div id="brand-left">

    <div class="big-box">
        <div>» Upcoming event</div>
        <div class="big-box-text">
            Shorebitch presents:
            <br />Hype X Topman, Black On Black
            <br />Afterparty
            <br />
            <div class="big-box-text-date">
                20:00PM Saturday, November 16, 2013
            </div>

        </div>
    </div>

    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_1.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_6.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_2.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_3.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_4.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_5.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_4.jpg?1827');"></div>
    <div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/files/ss14-7_grande.jpg?1822');"></div>

    <div class="big-box">
        <div>» Top tags</div>

        <div class="big-box-tags">
            <div class="big-box-tag">
                <div class="big-box-tag-title">On the Street, Bernauer</div>
            </div>
        </div>
    </div>

</div>


<div id="brand-right">

    <div id="brand-logo">
        <img ng-src="{{ root }}/images/savannahwild/logo.png">
    </div>

    <div id="brand-info">
        <div class="brand-info-entry">
            <div class="brand-info-entry-name">Origin</div>
            <div class="brand-info-entry-value">DK</div>
        </div>

        <div class="brand-info-entry">
            <div class="brand-info-entry-name">Founded</div>
            <div class="brand-info-entry-value">2011</div>
        </div>

        <div class="brand-info-entry">
            <div class="brand-info-entry-name">Segment</div>
            <div class="brand-info-entry-value">Fashion</div>
        </div>

        <div class="brand-info-entry">
            <div class="brand-info-entry-name">Employees</div>
            <div class="brand-info-entry-value">5-10</div>
        </div>
    </div>




    <div class="clear"></div>

    <div id="brand-description">

        <h6>
            <span>About Savannah Wild</span>
        </h6>

        <div id="brand-description-text">
            HYPE. began in Summer of 2011, when the UK weather, for once, was good! Two friends, both on summer breaks from University, decided they wanted to spend their holiday doing something more than just kicking back and relaxing.
        </div>

    </div>

    <div id="brand-find">
        <h4>Find this brand in</h4>
    </div>


</div>

<div class="clear"></div>

<div style="width:1px;height:0px;"></div>
