
.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cloqet-item {
  width: 50%;
  height: 30%;
  overflow: hidden;
  position: relative;
  float: left;
  background-color: #f6f6f6;
  font-size: 13px;
}
.cloqet-item .image {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
.cloqet-item .info {
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-top: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  text-align: center;
  color: #232323;
}
.cloqet-item .info .name {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.cloqet-item .info .brand {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}
.cloqet-item .info .price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}
.cloqet-item .info a {
  color: #232323;
  text-decoration: none;
}
.cloqet-item .info.ng-enter {
  -webkit-animation: flipInX .5s;
  animation: flipInX .2s;
}
.cloqet-item .info.ng-leave {
  -webkit-animation: flipOutX .4s;
  animation: flipOutX .7s;
}
@media (min-width: 768px) {
  .cloqet-item {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .cloqet-item {
    width: 14.285714286%;
  }
}
.gm-style-iw {
  width: 300px;
  height: 200px;
}
.gm-style-iw .cloqet-item {
  width: 100px;
  height: 100px;
}
.gm-style-iw .cloqet-item .image {
  width: 100px !important;
  height: 100px !important;
}
.shop-square {
  width: 50%;
  overflow: hidden;
  position: relative;
  float: left;
  background-color: #f6f6f6;
  font-size: 13px;
}
.shop-square .items {
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 140px;
}
.shop-square .items .cloqet-item {
  width: 50% !important;
  height: 70px;
}
.shop-square .items .cloqet-item .image {
  background-position: 0% 0% !important;
}
.shop-square .info {
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #232323;
}
.shop-square .info a {
  color: #232323;
  text-decoration: none;
}
@media (min-width: 768px) {
  .shop-square {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .shop-square {
    width: 14.285714286%;
  }
}
.profile .top {
  width: 100%;
  height: 300px;
  padding: 10px;
  background-color: white;
}
.profile .cover {
  width: 100%;
  height: 300px;
  top: 0;
  position: absolute;
  z-index: 999999999;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.profile .cover.ng-enter {
  -webkit-animation: fadeInDown .2s;
  animation: fadeInDown .2s;
}
.profile .cover.ng-leave {
  -webkit-animation: fadeOutUp .4s;
  animation: fadeOutUp .4s;
}
.profile .cover .logo {
  max-width: 125px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}
.profile .search {
  padding: 0px;
}
.profile .top-map {
  margin: 0 !important;
  padding: 0px;
  animation: none !important;
  -webkit-animation: none !important;
  -webkit-animation: 0;
  animation: 0;
}
.profile .ion-map.activated {
  background-color: #232323;
  color: white !important;
}
.profile .map-active {
  background-color: #232323;
  color: white !important;
}
.profile .buttons {
  margin-top: 0px !important;
}
.profile .buttons .row {
  padding: 0;
}
.profile .buttons .button {
  margin: 0;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.profile .buttons .searchlist {
  background-image: url('img/icon-searchlist.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
.profile .page-title {
  width: 100%;
  padding: 5px;
  font-weight: bold;
  color: #f6f6f6;
  background-color: rgba(35, 35, 35, 0.9);
}
.list .price {
  font-size: 14px;
}
.button-fullsize {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0px;
}
.button-fullsize-active {
  background-color: #dddddd;
}
.white-button {
  background-color: white;
}
.angular-google-map-container {
  height: 400px;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-padding {
  padding: 0px;
}
.padding {
  padding: 10px;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.text-center {
  text-align: center;
}
.heart-active {
  color: #f6f6f6 !important;
  background-color: #e34040 !important;
}
.background-center-zero {
  background-position: 0% 0% !important;
}
.ion-full-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pane {
  background-color: #f6f6f6;
}
.bar {
  background-color: #2c2c2c !important;
  border: 0;
  background-image: none !important;
}
.bar .title {
  color: #f6f6f6 !important;
}
.bar .whitey {
  color: #f6f6f6 !important;
}
.bar .back-button {
  color: #f6f6f6 !important;
}
.menu,
.menu-left {
  background-color: #232323 !important;
}
.sidemenu {
  background-color: #232323;
  font-family: 'Abel', sans-serif !important;
  font-weight: bold !important;
  color: #f6f6f6 !important;
  padding-top: 15px;
}
.sidemenu input::-webkit-input-placeholder {
  padding-top: 3px;
}
.sidemenu input:-moz-placeholder {
  padding-top: 3px;
}
.sidemenu input:-ms-input-placeholder {
  /* IE10+ */
  padding-top: 3px;
}
.sidemenu .search {
  margin-top: 30px;
  padding: 10px;
}
.sidemenu .separator {
  width: 100%;
  padding: 7px;
  padding-left: 10px;
  background-color: #2c2c2c;
  font-size: 16px;
}
.sidemenu .menu-item {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  color: #f6f6f6;
  padding: 15px;
}
.sidemenu .menu-item .icon-container {
  width: 30px;
  display: inline-block;
  text-align: center;
}
.sidemenu .menu-item .icon-container .icon {
  font-size: 22px;
}
.sidemenu .menu-item a {
  color: #f6f6f6;
  text-decoration: none;
}
.sidemenu .menu-item a:active {
  color: #f6f6f6;
}
.sidemenu .menu-item-activated {
  padding-left: 12px;
  border-left: 3px solid #f6f6f6;
}
.sidemenu .item,
.sidemenu .item-complex,
.sidemenu .item-content,
.sidemenu input {
  background-color: transparent;
  border: 0;
  font-size: 18px;
  color: #f6f6f6;
}
.sidemenu .item .activated,
.sidemenu .item-complex .activated,
.sidemenu .item-content .activated,
.sidemenu input .activated {
  height: 100%;
  width: 4px;
  background-color: #f6f6f6;
  position: absolute;
  left: 0;
  top: 0;
}
.sidemenu .item .icon-container,
.sidemenu .item-complex .icon-container,
.sidemenu .item-content .icon-container,
.sidemenu input .icon-container {
  width: 30px;
  display: inline-block;
  text-align: center;
}
.sidemenu .item .icon-container .icon,
.sidemenu .item-complex .icon-container .icon,
.sidemenu .item-content .icon-container .icon,
.sidemenu input .icon-container .icon {
  font-size: 22px;
}
.sidemenu .active {
  border-left: 4px solid #f6f6f6;
}
table {
  width: 100%;
}
table tr {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  margin: -1px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}
table tr td {
  padding: 16px;
  vertical-align: middle;
}
.card {
  margin: 0px;
  margin-bottom: 15px;
  box-shadow: none;
}
.card:last-child {
  margin: 0;
}
.col-30 {
  width: 30%;
}
.scroll-view,
.scroll {
  width: 100%;
  height: 100%;
}
.loadinga {
  font-size: 30px;
}
.angular-google-map-container,
.map,
.angular-google-map {
  width: 100% !important;
  height: 100% !important;
  z-index: 999;
}
.fullscreen-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
