<ion-view title="{{ list.name }}" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon whitey"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">

		<div class="lists">

			{{list}}
	
		</div>

	</ion-content>
</ion-view>