<ion-view title="Messages" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon whitey"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">

		<div class="items">
			<cloqetitem ng-repeat="item in items" item="item"></cloqetitem>
		</div>

	</ion-content>
</ion-view>






<!--
<div class="breadcrumbs">
	Conversations
</div>

<div class="topbar">
	<div class="title">Conversations</div>

	<div class="topbar-boxes">


	</div>

	<div class="clear"></div>
</div>


<div class="content-after-top-bar padding">

	<button class="btn btn-dark" ng-click="refresh()" ng-disabled="refreshing"><span class="glyphicon glyphicon-refresh"></span></button>

	<table class="table" class="overflow-scroll" style="max-height: 500px; margin-top: 10px;">		

		<tr ng-repeat="conversation in conversations">
			
			<td colspan="2">


				<userprofile ng-if="conversation.other.type == 1" id="conversation.other.id" username="conversation.other.name">
					<div class="profilepicture" style="background-image: url('{{ api }}/{{ conversation.other.picture }}');"></div>
				</userprofile>

				<shopprofile ng-if="conversation.other.type == 2" id="conversation.other.id" shopname="conversation.other.name">
					<div class="profilepicture" style="background-image: url('{{ api }}/{{ conversation.other.picture }}');"></div>
				</shopprofile>

				<brandprofile ng-if="conversation.other.type == 3" id="conversation.other.id" brandname="conversation.other.name">
					<div class="profilepicture" style="background-image: url('{{ api }}/{{ conversation.other.picture }}');"></div>
				</brandprofile>

			</td>
			
			<td class="col-md-7">
				
				<userprofile ng-if="conversation.other.type == 1" id="conversation.other.id" username="conversation.other.name"></userprofile>
				<shopprofile ng-if="conversation.other.type == 2" id="conversation.other.id" shopname="conversation.other.name"></shopprofile>
				<brandprofile ng-if="conversation.other.type == 3" id="conversation.other.id" brandname="conversation.other.name"></brandprofile>

				<br />

				<a ui-sref="conversation({conversationId: conversation.id, userName: getSlugified(conversation.name)})">{{ conversation.subject }}</a>

			</td>
			
			<td align="right" class="col-md-4 valign">{{ conversation.created_at | amDateFormat: 'dddd, MMMM Do YYYY, H:mm' }}</td>

			<td class="col-md-1 valign">
				<button class="btn btn-sm btn-dark right" ng-click="deleteConversation(conversation)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>

	</table>

	<div class="clear"></div>

</div>



-->













