<div class="item small-item">

	<div ng-show="tickable" class="tickable" ng-class="{ticked: item.ticked==true}" ng-click="toggleTick()"></div>

	<div ng-show="disabled" class="disabled" ng-mouseenter="changeUpdateBox()" ng-mouseout="removeUpdateBox()" ng-click="removeItem()"></div>

	<a ui-sref="item.show({ itemId: item.id, itemName: $root.getSlugified(item.name) })">
		<div class="image" style="background-image: url('{{ api }}/items/{{ item.id }}/{{ item.images[0].path }}');"></div>
	</a>

	<div class="description">
	
		<a ui-sref="item.show({ itemId: item.id, itemName: $root.getSlugified(item.name) })">
			{{ item.name }}<br />
		</a>
		
	</div>

</div>