<div class="breadcrumbs">
    Items / Create
</div>

<div class="topbar">
    <div class="title">Create Item</div>

    <div class="topbar-boxes">



    </div>

    <div style="clear:both"></div>
</div>




<div class="content-after-top-bar">


    <div>
        <div class="item-images" style="border: 5px solid #{{selectedColor.hex}};" ng-show="step == 2">

            <div id="main-image" style="width: 420px;">


                <div ng-show="!previewImage.path" class="text">Hover over an image to preview it</div>
                <img ng-if="previewImage.path" ng-src="{{ api }}/items/temporary/{{ previewImage.path }}" style="postition:fixed;">

            </div>

        </div>
        <div class="specifications">



            <div class="error-box" ng-show="errorBox.active">{{ errorBox.text }}</div>




            <!-- Step 1 -->
            <div id="step1" ng-show="step == 1">

                <div class="row">
                    <div class="col-md-6">
                        <input ng-model="name" type="text" class="form-control" placeholder="Enter the name of the item" ng-class="{'input-error': name_error}">
                    </div>
                    <div class="col-md-6">
                        <input ng-model="item_number" type="text" class="form-control" placeholder="Enter a unique item number (Optional)">
                    </div>
                </div>

                <label class="radio-inline">
                    <input type="radio" ng-model="gender" value="1">Male
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="gender" value="2">Female
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="gender" value="3">Unisex
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="gender" value="4">Childrens
                </label>

                <div class="row create-item-categories">
                    <div class="col-md-3">
                        <select ng-show="category1_categories" class="form-control" ng-model="category1" ng-options="category.name for category in category1_categories" ng-change="categoryChanged(category1)"></select>
                    </div>

                    <div class="col-md-3">
                        <select ng-show="category2_categories" class="form-control" ng-model="category2" ng-options="category.name for category in category2_categories" ng-change="categoryChanged(category2)"></select>
                    </div>

                    <div class="col-md-3">
                        <select ng-show="category3_categories" class="form-control" ng-model="category3" ng-options="category.name for category in category3_categories" ng-change="categoryChanged(category3)"></select>
                    </div>

                    <div class="col-md-3">
                        <select ng-show="category4_categories" class="form-control" ng-model="category4" ng-options="category.name for category in category4_categories" ng-change="categoryChanged(category4)"></select>
                    </div>
                </div>




                <textarea ng-model="description" id="item-description" cols="30" rows="5" class="form-control textarea" placeholder="Enter a description" ng-class="{'input-error': description_error}"></textarea>
                <input ng-model="size_fit" type="text" class="form-control" placeholder="Enter a product fitting (Optional)">










                <div class="row">

                    <div class="col-md-6">
                        <div class="row" ng-show="countries.length">
                            <div class="col-md-4">

                                <input ng-model="price" type="text" class="form-control" placeholder="Enter the price" ng-class="{'input-error': price_error}">
                            
                            
                            </div>

                            <div class="col-md-4">
                                <select class="form-control" ng-model="selectedCurrency" ng-options="country.currency for country in countries"></select>
                            </div>
                            
                            <div class="col-md-4">
                                <button ng-click="addPrice()" class="btn btn-primary">Add price</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        <table class="table" style="background-color: transparent;">
                            <tr ng-repeat="price in prices">
                                <td>{{ price.currency.name }}</td>
                                <td>{{ price.price }} {{ price.currency.currency }},-</td>
                                <td align="right">
                                    <span ng-click="removePrice(price)" class="glyphicon glyphicon-remove clickable"></span>
                                </td>
                            </tr>
                        </table>

                    </div>


                </div>

            </div>










            <!-- Step 2 -->
            <div id="step2" ng-show="step == 2">
                <div class="message-box">
                    1. Choose colors: Choose the different colors this product is available in
                    <br />2. Add Pictures (minimum 1 product picture): Add color-specific pictures to each color option
                </div>


                <div id="colors">
                    <h3 translate="COLORS">Colors</h3>

                    <div id="top-line">

                        <div class="color" ng-repeat="color in colors" ng-click="addColor(color)" tooltip="{{ color.color }}" style="background-color: #{{color.hex}};"></div>

                    </div>
                </div>

                <div id="colors" ng-if="chosenColors.length > 0">
                    <h3>Your colors</h3>

                    <div ng-repeat="color in chosenColors" style="margin-top: 10px;">
                        <div class="color" ng-click="selectColor(color)" tooltip="{{ color.color }}" style="background-color: #{{color.hex}};">
                            <span ng-click="removeColor(color)" class="glyphicon glyphicon-remove remove-circle"></span>
                        </div>

                        <button class="btn btn-dark" style="margin: 3px;" ng-click="openAddPicture(color)">Add or edit pictures</button>
                        
                        <div ng-repeat="image in color.images" ui-sortable ng-model="color.images" ng-mouseover="changeImage(image)">
                            
                            <img ng-src="{{ api }}/items/temporary/{{ image.path }}" ng-mouseenter="updatePreviewImage(image)" ng-mouseout="clearPreviewImage()" class="item-image-thumbnail">

                        </div>

                        <div class="clear"></div>
                        <hr />
                        <div class="clear"></div>
                    </div>

                </div>


                <div style="margin-top: 10px;">&nbsp;</div>

                <script type="text/ng-template" id="addPictureModal.html">
                    <div class="modal-header">
                        <div class="color" tooltip="{{ color.color }}" style="background-color: #{{color.hex}};"></div>
                        <h3 class="modal-title" style="margin-top: 5px;">
                            &nbsp;Add {{ color.color }} pictures
                        </h3>
                    </div>
                    <div class="modal-body">


            <div id="main-image" style="width: 420px; float: left;">

                <div class="imagedropzone">

                    <div ng-show="color">
                        <div align="center" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="drop-background" ng-show="dropSupported" class="drop-padding">
                            Drag and drop your files here <br /><br />
                        <input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*">

                        </div>
                        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported" class="drop-padding">HTML5 Drop File is not supported!</div>

                    </div>


                </div>

            </div>

            <div style="float: left; width: 445px;">

                <img ng-repeat="image in color.images" ng-src="{{ api }}/items/temporary/{{ image.path }}" class="item-image-thumbnail" style="margin-top:0px; margin-bottom: 10px; margin-left:10px;">

            </div>

            <div class="clear"></div>






                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="cancel()">OK</button>
                    </div>
                </script>



            </div>









            <!-- Step 3 -->
            <div id="step3" ng-show="step == 3">



                <accordion close-others="true">


                    <accordion-group ng-repeat="fabric in addedFabrics" is-open="fabric.isOpen">
                        <accordion-heading>
                            {{ fabric.name }}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': fabric.isOpen, 'glyphicon-chevron-right': !fabric.isOpen}"></i>
                        </accordion-heading>
                        <table class="table">
                            <tr>
                                <th>Material</th>
                                <th>Percentage</th>
                            </tr>
                            <tr ng-repeat="content in fabric.contents">
                                <td>{{ content.material.name }}</td>
                                <td>{{ content.percentage }}%</td>
                            </tr>
                        </table>

                    </accordion-group>





                    <accordion-group is-open="addNewMaterialTab.isOpen">
                        <accordion-heading>
                            Add new fabric 
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': addNewMaterialTab.isOpen, 'glyphicon-chevron-right': !addNewMaterialTab.isOpen}"></i>
                            
                        </accordion-heading>




            <form ng-submit="addMaterial()">

                <div class="row">

                    <div class="col-md-12">
                        <input type="text" ng-model="temporaryFabric.name" class="form-control" placeholder="Enter the fabrics name">
                    </div>
                </div>

                <div class="row" ng-show="(materials|filter:{used:'!true'}).length>0">
                    <div class="col-md-1 vcenter">Content</div>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="temporaryFabric.temporaryMaterial.material" ng-options="material.name for material in materials | filter:{used:'!true'}"></select>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">

                            <input type="number" ng-model="temporaryFabric.temporaryMaterial.percentage" class="form-control">
                            <span class="input-group-addon">%</span>

                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-dark hundredwidth" ng-click="addMaterial()">
                            Add
                        </button>
                    </div>
                </div>

                <div class="row row-top-spacing" ng-repeat="content in temporaryFabric.contents">
                    <div class="col-md-1 vcenter"></div>
                    <div class="col-md-8">
                        {{ content.material.name }}
                    </div>

                    <div class="col-md-2">
                        {{ content.percentage }}%
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-dark btn-sm" ng-click="removeMaterial(content.material)">
                            Delete
                        </button>
                    </div>
                </div>


                <div class="row row-top-spacing">
                    <div class="col-md-9"></div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-block" ng-click="addFabric()">Add fabric</button>
                    </div>
                </div>

            </form>



                    </accordion-group>

                </accordion>



            </div>



        </div>
    </div>

    <div class="clear"></div>

    <div class="steps" style="width: 615px; float: right; margin-right: 10px;">
        <div class="step" ng-class="{'transparent' : step == 1}" ng-click="back()">Back</div>
        <div class="step" ng-class="{'step-active' : step == 1}" ng-click="setStep(1)">1</div>
        <div class="step" ng-class="{'step-active' : step == 2}" ng-click="setStep(2)">2</div>
        <div class="step" ng-class="{'step-active' : step == 3}" ng-click="setStep(3)">3</div>
        <div class="step" ng-click="next()">
            <div ng-if="step != 3">Next</div>
            <div ng-if="step == 3">Create item</div>
        </div>
    </div>

    <div class="clear"></div>

</div>

<div class="clear"></div>
</div>

