<ion-view title="Items" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon whitey"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">


		<div class="items">
			<cloqetitem ng-repeat="item in items" item="item"></cloqetitem>
		</div>

		<ion-infinite-scroll
			ng-if="!noMoreItems"
			icon="ion-loading-c"
			on-infinite="loadMoreData()"
			>
		</ion-infinite-scroll>

	</ion-content>
</ion-view>
