<div class="padding">

    <div class="row">

        <div class="col-md-11">
            <input type="text" class="form-control" placeholder="Enter the URL of the article" ng-model="url" ng-change="updatedUrl()" />
        </div>

        <div class="col-md-1" ng-if="loading"><div class="spinner" style="margin-top: 6px;"></div></div>
    </div>
    
    <div id="activity-feed">

    	<span ng-if="currentImage">

            <div class="activity-feed-entry">
                <div class="activity-feed-entry-picture-buttons-wrapper">
                    <div class="activity-feed-entry-picture" style="background-image: url('{{ images[currentImage].url }}')">                        </div> 
                     
                    <div class="activity-feed-entry-picture-buttons">
                        <button class="btn btn-sm btn-default" ng-click="previousImage()" ng-disabled="currentImage == 1"><</button>
                        <button class="btn btn-sm btn-default" ng-click="nextImage()" ng-disabled="currentImage == images.length - 1">></button>
                    </div>

                </div>
                <div class="activity-feed-entry-header">{{title}}</div>
                <div class="activity-feed-entry-url">{{url}}</div>
                <div class="activity-feed-entry-timeago">Now</div>
                <button class="btn btn-primary" style="margin-top: 20px;" ng-click="saveMediaTag()">Save</button>
            </div>

            <hr style="margin-top: 5px;" />
			
    	</span>


        <div class="activity-feed-entry" ng-repeat="tag in item.tags | orderBy: '-id'">
            <a href="{{ tag.url }}" target="_blank">
                <div class="activity-feed-entry-picture" style="background-image: url('{{ api }}/media-tag-images/{{ tag.image }}')"></div>
            </a>
            <div class="activity-feed-entry-header"><a href="{{ tag.url }}" target="_blank">{{ tag.title }}</a></div>
            <div class="activity-feed-entry-url"><a href="{{ tag.url }}" target="_blank">{{ tag.url }}</a></div>
            <div class="activity-feed-entry-timeago"> 
                <span am-time-ago="tag.created_at"></span>
            </div>
        </div>

    </div>
</div>