<div class="content-after-top-bar padding">


	<ul class="nav nav-tabs" role="tablist">
		<li ui-sref-active="active" ng-repeat="tab in tabs"><a ui-sref="item.settings.{{tab.route}}" ng-bind-html="tab.title">{{ tab.title }}</a></li>
	</ul>


	<div ui-view autoscroll="false"></div>


    <div class="clear"></div>
</div>