<div class="breadcrumbs">
	Users / {{ user.nickname }} <span ng-if="breadcrumb">/ {{ breadcrumb }}</span>
</div>

<div class="topbar">
	<div class="title">
		<a ui-sref="user.home">
			{{ user.nickname }}
		</a>
	</div>

	<div class="topbar-boxes">

		<div class="topbar-boxes-left">
			<div class="topbar-box">
				<a ui-sref="user.home">
					Home
				</a>
			</div>

			<div class="topbar-box">
				<a ui-sref="user.lists">
					Lists
				</a>
			</div>
			<div class="topbar-box">Wardrobe</div>
			<div class="topbar-box">Activity feed</div>
			<div class="topbar-box">Follow</div>			
		</div>

        <div class="topbar-boxes-right hand" ng-click="sendMessage()">

			<div class="topbar-box" tooltip-placement="top" tooltip="Send {{user.nickname}} a message!" ng-if="user.user_id != getUserId()">
				<span class="glyphicon glyphicon-envelope"></span>
			</div>
			<!--
			<div class="topbar-box"><div class="add-to-list">Add to list</div></div>
			-->
        </div>

	</div>

	<div class="clear"></div>
</div>

<div class="content-after-top-bar">

	<div ui-view autoscroll="false"></div>

	<div class="clear"></div>

</div>

















