<div class="modal-header">
    <h3 class="modal-title">Message to {{ name }}</h3>
</div>
<div class="modal-body">
	<input type="text" class="form-control" ng-model="$parent.subject" placeholder="Subject">
	<textarea class="form-control textarea-height" ng-model="$parent.message" placeholder="Enter your message..."></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Send message</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
