<div class="cloqet-item">

	<div style="width: 100%; height: 100%; position: absolute;" ng-click="toggle()"></div>

	<a ui-sref="app.item.show({ itemId: item.id })">
		<div class="image" style="background-image: url('{{ api }}/items/{{ item.id }}/thumb_{{ item.main_image.path }}');">
			
			<div class="info" ng-if="item.active" ng-click="toggle()" ng-dblclick="goToItem()">

					<div class="description">
					
						<a ui-sref="app.item({ itemId: item.id })" class="name">
							{{ item.name | characters: 30 }}
						</a>
						
						<a ui-sref="app.brand({ brandId: item.brand_id })" class="brand">
							{{ item.brand.brand_name }}
						</a>

						<a ui-sref="app.item({ itemId: item.id })" class="price">
							{{ item.prices[0].price }} {{ item.prices[0].currency }}
						</a>

					</div>

			</div>


		</div>
	</a>

</div>