<div class="breadcrumbs">
	<a ui-sref="conversations">Conversations</a> / {{ conversation.other.name }}
</div>

<div class="topbar">
	<div class="title">{{ conversation.subject }}</div>

	<div class="topbar-boxes">


	</div>

	<div class="clear"></div>
</div>

<div class="content-after-top-bar padding">

	<button class="btn btn-dark" ng-click="refresh()" ng-disabled="refreshing"><span class="glyphicon glyphicon-refresh"></span></button>
	<button class="btn btn-dark" ng-click="reply()"><span class="glyphicon glyphicon-share-alt"></span> Reply</button>

	<table class="table" style="margin-top: 10px;">

		<tr ng-repeat="message in conversation.messages" class="message">
			
			<td colspan="2">


				<userprofile ng-if="message.user_type == 1" id="message.user_id" username="message.name">
					<div ng-if="getUserId() !== message.user_id" class="background-cover" style="background-image: url('{{ api }}/{{ conversation.other.picture }}'); width: 45px; height: 45px;"></div>
					<div ng-if="getUserId() == message.user_id" class="background-cover" style="background-image: url('{{ api }}/{{ getUserPicture() }}'); width: 45px; height: 45px;"></div>
				</userprofile>

				<shopprofile ng-if="message.user_type == 2" id="message.user_id" shopname="message.name">
					<div ng-if="getUserId() !== message.user_id" class="background-cover" style="background-image: url('{{ api }}/{{ conversation.other.picture }}'); width: 45px; height: 45px;"></div>
					<div ng-if="getUserId() == message.user_id" class="background-cover" style="background-image: url('{{ api }}/{{ getUserPicture() }}'); width: 45px; height: 45px;"></div>
				</shopprofile>

				<brandprofile ng-if="message.user_type == 3" id="message.user_id" brandname="message.name">
					<div ng-if="getUserId() !== message.user_id" class="background-cover" style="background-image: url('{{ api }}/{{ conversation.other.picture }}'); width: 45px; height: 45px;"></div>
					<div ng-if="getUserId() == message.user_id" class="background-cover" style="background-image: url('{{ api }}/{{ getUserPicture() }}'); width: 45px; height: 45px;"></div>
				</brandprofile>


			</td>
			
			<td class="col-md-8">

				<userprofile ng-if="message.user_type == 1" id="message.user_id" username="message.name"></userprofile>
				<shopprofile ng-if="message.user_type == 2" id="message.user_id" shopname="message.name"></shopprofile>
				<brandprofile ng-if="message.user_type == 3" id="message.user_id" brandname="message.name"></brandprofile>

				<br />

				{{ message.message }}
			</td>
			
			<td align="right" class="col-md-4" style="vertical-align: middle;">{{message.created_at | amDateFormat: 'dddd, MMMM Do YYYY, H:mm'}}</td>
		
		</tr>
		
	</table>
	


	<div class="clear"></div>

</div>







