
<div class="create-shop">

<input ng-model="email" type="text" placeholder="E-mail adress" class="form-control">

<input ng-model="password" type="text" placeholder="Password" class="form-control">

<input ng-model="shop_name" type="text" placeholder="Shop name" class="form-control">

<input ng-model="cvr" type="text" placeholder="CVR number" class="form-control">

<input ng-model="website" type="url" placeholder="Website adress" class="form-control">

<input ng-model="contact_person" type="text" placeholder="Contact person" class="form-control">

<input ng-model="phone" type="tel" placeholder="Phone number" class="form-control">

<input ng-model="adress" type="text" placeholder="Full adress" class="form-control">

<textarea ng-model="description" class="form-control" placeholder="Enter a description of your shop"></textarea>

<input type="submit" ng-click="createShop()" value="Register shop" class="btn btn-default">

<div style="color: red">{{ errors }}</div>

</div>