<ion-view title="{{ shop.shop_name }}">

	<ion-nav-buttons side="left">
		<ion-nav-back-button class="button-clear">
			<i class="ion-arrow-left-c"></i> Back
		</ion-nav-back-button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-ios7-camera whitey"></a>
	</ion-nav-buttons>

	<ion-content class="has-header">

        <div class="profile">

            <div class="top search" ng-show="currentState == 'app.shop.search'">
                Searchy
            </div>



            <div class="top" ng-click="toggleInfo()" ng-hide="currentState == 'app.shop.search'">
                {{ shop.description }}
            </div>



            <div class="top top-map" id="map" ng-if="maps" data-tap-disabled="true">


                <map center="{{shop.lat}},{{shop.lng}}" zoom="14">
                    <marker id="store" position="{{ [shop.lat, shop.lng]}}"></marker>
                </map>

            </div>


            <div class="cover text-center" style="background-image: url('{{ root }}/cover-images/{{ shop.cover }}');" ng-if="!info" ng-click="toggleInfo()">
                <img ng-src="{{ root }}/images/brand-logos/hugoboss.jpg" class="logo" />
            </div>


            <div class="buttons">
                <div class="row">
        
                    <button class="col button button-light icon ion-android-star" ui-sref-active="active" ui-sref="app.shop.featured"></button>
                    <button class="col button button-light searchlist" ui-sref="app.shop.search"></button>
                    <button class="col button button-light icon ion-ios7-browsers" ui-sref-active="active" ui-sref="app.brand.collections"></button>
                    <button class="col button button-light icon ion-heart" ng-click="like()" ng-class="{ 'heart-active': i_like  && isLoggedIn() }"></button>
                    <button class="col button button-light icon ion-map" ng-click="maps = !maps; expand();" ng-class="{'map-active': maps}"></button>

                </div>

            </div>

            <div ui-view></div>
        
        </div>



        <div style="clear:both;"></div>

	</ion-content>

</ion-view>