.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
  width: 100%;
}
.item-page .extra-info {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}
.item-page .extra-info.ng-enter {
  -webkit-animation: fadeInDown .2s;
  animation: fadeInDown .2s;
}
.item-page .extra-info.ng-leave {
  -webkit-animation: fadeOutUp .4s;
  animation: fadeOutUp .4s;
}
.item-page .info {
  margin-top: -5px;
  margin-bottom: -5px;
  height: 55px !important;
}
.item-page .info .name {
  width: 66.66666%;
  float: left;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-page .info .price {
  width: 33.33333%;
  float: right;
  text-align: center;
  padding: 15px;
  background-color: #232323;
  color: #f6f6f6;
  font-weight: bold;
  border-right: 1px solid #232323;
}
.item-page .buttons .actionbutton {
  float: left;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  font-size: 22px;
  color: #232323;
}
.item-page .buttons .actionbutton .number {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.item-page .buttons .love {
  color: #f6f6f6;
  background-color: #e74c3c;
}
.item-page .buttons .want {
  color: #f6f6f6;
  background-color: #27ae60;
}
.item-page .buttons .have {
  color: #f6f6f6;
  background-color: #2980b9;
}
.item-page .row {
  padding: 0;
}
.item-page .row .col {
  position: relative;
}
.item-page .stores .distance {
  font-size: 12px;
}
.item-page .stores .navigate {
  font-size: 18px;
}

.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.list-map .filters {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 999999999999;
  background-color: rgba(255, 255, 255, 0.8);
}
.list-map .filters.ng-enter {
  -webkit-animation: fadeInDown .2s;
  animation: fadeInDown .2s;
}
.list-map .filters.ng-leave {
  -webkit-animation: fadeOutUp .4s;
  animation: fadeOutUp .4s;
}
.list-map .filters .button {
  height: 100px;
  font-size: 12px !important;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}
.list-map .filters .item-tick {
  width: 100px;
  height: 100%;
  position: relative;
  display: inline-block !important;
  opacity: 0.3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*
			@media (min-width: 768px) {
				width: 12.5%;	
			}

			@media (min-width: 1200px) {
				width: 7.142857143%;
			}
			*/
}
.list-map .filters .ticked {
  opacity: 1;
}

.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.lists .description {
  padding: 10px;
  padding-left: 16px;
}
.lists .list-item {
  width: 100%;
  padding: 0px;
  margin-bottom: -5px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.lists .list-item .cloqet-item {
  width: 200px !important;
  float: none;
  display: inline-block;
}
@media (max-width: 767px) {
  .lists .list-item .cloqet-item {
    width: 100px !important;
  }
  .lists .list-item .cloqet-item .image {
    height: 100px !important;
  }
}
.lists .list-item .rotated-view-all {
  position: absolute;
  right: 0px;
  top: 0;
  width: 50px;
  height: 100%;
  color: #f6f6f6;
  background-color: rgba(35, 35, 35, 0.9);
}
.lists .list-item .rotated-view-all .rotate {
  margin-top: 93px;
}
@media (max-width: 767px) {
  .lists .list-item .rotated-view-all .rotate {
    margin-top: 44px;
  }
}
.lists .list-item button {
  position: absolute;
  right: 0px;
  top: 70px;
}
@media (max-width: 767px) {
  .lists .list-item button {
    top: 27px;
  }
}

.background-full-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.shop .top {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}
