<div class="shop-square" ui-sref="app.shop.featured({ shopId: shop.id })">
	
	<div class="items">

		<div class="cloqet-item" ng-repeat="item in shop.items">
			<a ui-sref="app.item.show({ itemId: item.id })">
				<div class="image" style="background-image: url('{{ $parent.$parent.api }}/items/{{ item.id }}/{{ item.main_image.path }}');">
				</div>
			</a>

		</div>
	
	</div>

	<div class="info">
	
		<a ui-sref="app.shop.featured({ shopId: shop.id })">
			{{ shop.shop_name }}
		</a>
	
		<br />
	
		<span style="opacity: .7">

			{{ shop.distance | metricdistance }}		

		</span>
	</div>


</div>