<div class="page-title">Collections</div>

<div class="lists">

	<div class="card" ng-repeat="collection in collections" ui-sref="app.list({listId: collection.id})">
		
		<div class="item item-divider">
			{{ collection.name }}
		</div>
		
		<div class="description" ng-show="list.description">
			{{ collection.description }}
		</div>

		<div class="item list-item">

			<cloqetitem ng-repeat="item in collection.items" disabled="true" item="item"></cloqetitem>			

			<div class="rotated-view-all" ui-sref="app.list({listId: collection.id})">
				<div class="rotate">
					View list
				</div>
			</div>


		</div>


		<div class="item">

			<b>View collection</b>

		</div>


	</div>

</div>

<!--
<div class="padding">

	<div ng-hide="collections">There is currently no collections available.</div>
	
	<div ng-repeat="collection in collections" style="margin-top: -10px;">
		<h3>
			<a ui-sref="brand.collection({collectionId:collection.id, collectionName: $root.getSlugified(collection.name) })">{{ collection.name }}</a>
		</h3>		
		
		<div class="hundredwidth">
			<item ng-repeat="item in collection.items" item="item" />
		</div>
		
		<div class="clear"></div>
	</div>

	<div ng-show="isLoggedIn()" class="right" style="position:absolute;right:10px;top:10px;"><a class="btn btn-default" ui-sref="create-collection">Create collection</a></div>

</div>

-->