<div id="user-middle">

<a ng-repeat="like in likes" ui-sref="item.show({ itemId: like.item_id, itemName: getSlugified(like.name) })">

	<div class="big-box" ng-mouseenter="like.active = true" ng-mouseleave="like.active = false" style="background-image: url('{{ api }}/items/{{ like.item_id }}/{{ like.image }}');">
		<div ng-if="like.active" class="bottom-black">
			{{ like.name }} <br />
			{{ like.brand_name }}
		</div>
	</div>

</a>


<!--
	<div class="small-box" style="background-image: url('http://cdn.shopify.com/s/files/1/0226/9103/t/2/assets/slideshow_6.jpg?1827')"></div>
-->
</div>

<div id="user-right">
	<img src="http://bloggersdelight-dk.bloggersdelight.netdna-cdn.com/wp-content/blogs.dir/1951/files/2014/08/DSC_1255.jpg" />

	<div class="user-info-entry">
		<div class="user-info-entry-key">Name</div>
		<div class="user-info-entry-data">{{ user.first_name }} {{ user.last_name }}</div>
	</div>

	<div class="user-info-entry">
		<div class="user-info-entry-key">From</div>
		<div class="user-info-entry-data">Copenhagen</div>
	</div>

	<div class="clear"></div>

	<div class="user-info-entry">
		<div class="user-info-entry-key">Followers</div>
		<div class="user-info-entry-data">5</div>
	</div>

	<div class="clear"></div>

	<div class="user-info-entry">
		<div class="user-info-entry-key">Following</div>
		<div class="user-info-entry-data">11</div>
	</div>

</div>
