@import url('../mixins.less');
@import url('../colors.less');

img {
	width: 100%;
}

.item-page {


	.extra-info {
		width: 100%;
		height: 100%;

		background-color: rgba(255, 255, 255, 0.8);

		position: absolute;
		
		&.ng-enter {
			.fade-animation-enter();
		}
		&.ng-leave {
			.fade-animation-leave();
		}
	}

	.info {
		margin-top: -5px;
		margin-bottom: -5px;
		height: 55px !important;
		
		.name {
			width: 66.66666%;

			float: left;

			padding: 10px;
			padding-top: 4px;
			padding-bottom: 0px;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.price {
			width: 33.33333%;

			float: right;

			text-align: center;

			padding: 15px;

			background-color: @dark;
			
			color: @white;
			font-weight: bold;

			border-right: 1px solid @dark;
		}

	}

	.buttons {

		.actionbutton {
			float: left;

			padding-top: 14px;
			padding-bottom: 14px;

			text-align: center;

			font-size: 22px;
			color: @dark;

			.number {
				display: inline-block;
				vertical-align: middle;
				font-size: 16px;
			}

		}
		
		.love {
			color: @white;
			background-color: @red;
		}

		.want {
			color: @white;
			background-color: @green;
		}

		.have {
			color: @white;
			background-color: @blue;
		}
	}

	.row {
		padding: 0;
		.col {
			position: relative;
		}
	}

	.stores {

		.distance {
			font-size: 12px;
		}

		.navigate {
			font-size: 18px;
		}
	}
}
