@import url('../mixins.less');
@import url('../colors.less');

.list-map {

	.filters {
		position: absolute;
		width: 100%;
		height: 100px;
		z-index: 999999999999;
		background-color: rgba(255, 255, 255, 0.8);

		&.ng-enter {
			.fade-animation-enter();
		}

		&.ng-leave {
			.fade-animation-leave();
		}

		.item-tick {
			width: 100px;
			height: 100%;
	
			position: relative;

			display: inline-block !important;

			opacity: 0.3;

			.background-full-cover();

	/*
			@media (min-width: 768px) {
				width: 12.5%;	
			}

			@media (min-width: 1200px) {
				width: 7.142857143%;
			}
			*/

			.overlay {
				position: absolute;
				width: 100%;
				height: 100%;

				//background-color: @dark-transparent;

			}
		}

		.ticked {
			opacity: 1;
		}

	}
}