@import url('../colors.less');
@import url('../mixins.less');

.lists {

	.description {
		padding: 10px;
		padding-left: 16px;
	}

	.list-item {
		width: 100%;

		overflow: hidden;

		padding: 0px;

		margin-bottom: -5px;

		overflow: hidden;

		white-space: nowrap;

		position: relative;

		.cloqet-item {

			width: 200px !important;
			float: none;

			display: inline-block;

			@media (max-width: 767px) {
				width: 100px !important;

				.image {
					height: 100px !important;
				}
			}
		}

		.rotated-view-all {
			position: absolute;
			right: 0px;
			top: 0;

			width: 50px;
			height: 100%;

			color: @white;

			background-color: @dark-transparent;

			.rotate {
				margin-top: 93px;

				@media (max-width: 767px) {
					margin-top: 44px;
				}

			}


		}

		button {
			position: absolute;
			right: 0px;

			top: 70px;

			@media (max-width: 767px) {
				top: 27px;
			}
		}

	}
}