<div class="modal-header">
    <h3 class="modal-title">Register
		<span ng-if="type == 1">person</span>
		<span ng-if="type == 2">store</span>
		<span ng-if="type == 3">brand</span>
    </h3>
</div>
<div class="modal-body">


	<table ng-if="step == 1" class="table register-table"> 
		
		<tr>
			<td>
				<table class="hundredwidth hand" ng-class="{selected: isSelected(1)}" ng-click="setType(1)" ng-dblclick="setType(1); nextStep()">
					<tr>
						<td class="col-md-1"><i class="icon ion-person"></i></td>
						<td class="col-md-10">
							<b>Person</b>
							<br />
							You want to register as a private to get the most out of Cloqet
						</td>
						<td class="col-md-1"><input type="radio" ng-model="type" name="type" value="1"></td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table class="hundredwidth hand" ng-class="{selected: isSelected(2)}" ng-click="setType(2)" ng-dblclick="setType(2); nextStep()"> 
					<tr>
						<td class="col-md-1"><i class="icon ion-home"></i></td>
						<td class="col-md-10">
							<b>Store</b>
							<br />
							You are a store owner and want to be listed on Cloqet
						</td>
						<td class="col-md-1"><input type="radio" ng-model="type" name="type" value="2"></td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td>
				<table class="hundredwidth hand" ng-class="{selected: isSelected(3)}" ng-click="setType(3)" ng-dblclick="setType(3); nextStep()">
					<tr>
						<td class="col-md-1"><i class="icon ion-ios7-pricetag"></i></td>
						<td class="col-md-10">
							<b>Brand</b>
							<br />
							You own or represent a brand and want to be listed on Cloqet
						</td>
						<td class="col-md-1"><input type="radio" ng-model="type" name="type" value="3"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

		<form name="form">

		<div ng-if="type == 1 && step == 2" class="padding">

			<div class="row">

				<div class="col-md-6">
					<input ng-model="person.first_name" type="text" class="form-control" placeholder="First name"
						name="first_name"
						ng-class="{ 'input-error': form.first_name.$dirty && form.first_name.$invalid }"
						required
						minlength="2"
						maxlength="50" />

				</div>
				<div class="col-md-6">
					<input ng-model="person.last_name" type="text" class="form-control" placeholder="Last name"
						name="last_name"
						ng-class="{ 'input-error': form.last_name.$dirty && form.last_name.$invalid }"
						required
						minlength="2"
						maxlength="50" />

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<input ng-model="person.email" type="text" class="form-control" placeholder="E-mail address"
						name="email"
						ng-class="{ 'input-error': form.email.$dirty && form.email.$invalid }"
						required 
						ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" />

				</div>
				<div class="col-md-6">
				
					<input ng-model="email_again" type="email" class="form-control" placeholder="Enter your e-mail address again" 
						name="email_again"
						ng-class="{ 'input-error': form.email_again.$dirty && form.email_again.$error.match }"
						required
						match="person.email" />
				
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<input ng-model="person.password" type="password" class="form-control" placeholder="Password (min. 6 characters)"
					name="password"
					ng-class="{ 'input-error': form.password.$dirty && form.password.$invalid }"
						minlength="6"
						maxlength="100" 
						required />
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<input ng-model="person.nickname" type="text" class="form-control" placeholder="Nickname (this will be the name displayed on your profile)"
					name="nickname"
					ng-class="{ 'input-error': form.nickname.$dirty && form.nickname.$invalid }"
						minlength="2"
						maxlength="30" 
						required />
				</div>
			</div>

			<div class="row">

				<div class="col-md-4">

					<label class="radio-inline">
						<input type="radio" ng-model="person.gender" name="gender" ng-value="1" required> Female
					</label>

					<label class="radio-inline">
						<input type="radio" ng-model="person.gender" name="gender" value="2" required> Male
					</label>

				</div>

			</div>

			<div class="row" style="margin-top: 10px;">
				<div class="col-md-3" style="height: 35px; padding-top: 6px;">
					<b>Birthday:</b>
				</div>

				<div class="col-md-3">

					<select ng-model="person.birthday.day" ng-options="day for day in days" class="form-control"
						name="day"
						ng-class="{ 'input-error': form.day.$dirty && form.day.$invalid }"
						required
						integer>
							<option value="">Day</option>
					</select>
				</div>

				<div class="col-md-3">
					<select ng-model="person.birthday.month" ng-options="month.name for month in months" class="form-control"
						name="month"
						ng-class="{ 'input-error': form.month.$dirty && form.month.$invalid }"
						required
						integer>

						<option value="">Month</option>
					</select>
				</div>

				<div class="col-md-3">
					<select ng-model="person.birthday.year" ng-options="year for year in years" class="form-control"
						name="year"
						ng-class="{ 'input-error': form.year.$dirty && form.year.$invalid }"
						required
						integer>

						<option value="">Year</option>
					</select>
				</div>
			</div>
		</div>

		<div ng-if="(type == 2 || type == 3) && step == 2">

			<div class="row">

				<div class="col-md-6">
					<input ng-model="data.name" type="text" class="form-control" placeholder="Store name" ng-if="type == 2"
						name="name"
						ng-class="{ 'input-error': form.name.$dirty && form.name.$invalid }"
						required
						minlength="2"
						maxlength="60" />

					<input ng-model="data.name" type="text" class="form-control" placeholder="Brand name" ng-if="type == 3"
						name="name"
						ng-class="{ 'input-error': form.name.$dirty && form.name.$invalid }"
						required
						minlength="2"
						maxlength="60" />

				</div>

				<div class="col-md-6">
					<input ng-model="data.company_name" type="text" class="form-control" placeholder="Company name (optional)"
						name="company_name"
						ng-class="{ 'input-error': form.company_name.$dirty && form.company_name.$invalid }"
						minlength="2"
						maxlength="50" />

				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<input ng-model="data.phone" type="number" class="form-control" placeholder="Phone number"
						name="phone"
						ng-class="{ 'input-error': form.phone.$dirty && form.phone.$invalid }"
						required
						min="10000000"
						max="9999999999" />
					
				</div>

				<div class="col-md-6">
					<input ng-model="data.email" type="email" class="form-control" placeholder="E-mail address"
						name="email"
						ng-class="{ 'input-error': form.email.$dirty && form.email.$invalid }"
						required />
					
				</div>

			</div>

			<div class="row">

				<div class="col-md-12">

					<input ng-model="data.cvr" type="number" class="form-control" placeholder="CVR number"
						name="cvr"
						ng-class="{ 'input-error': form.cvr.$dirty && form.cvr.$invalid }"
						required
						min="10000000"
						max="99999999"
						integer />
					
				</div>
	
			</div>
			<div class="row">

				<div class="col-md-12">

					<input ng-model="data.website" type="text" class="form-control" placeholder="Website"
						name="website"
						ng-class="{ 'input-error': form.website.$dirty && form.website.$invalid }"
						required />
					
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<b>Contact person</b>
				</div>
			</div>

			<div class="row">

				<div class="col-md-2">
					<select ng-model="data.contactperson.title" name="" id="" class="form-control" required min="1" max="2">
						<option value="2">Mr.</option>
						<option value="1">Mrs.</option>
					</select>{{title}}
				</div>

				<div class="col-md-5">
					<input ng-model="data.contactperson.first_name" type="text" class="form-control" placeholder="First name"
						name="contactperson_first_name"
						ng-class="{ 'input-error': form.contactperson_first_name.$dirty && form.contactperson_first_name.$invalid }"
						required
						minlength="2"
						maxlength="50" />
					
				</div>

				<div class="col-md-5">
					<input ng-model="data.contactperson.last_name" type="text" class="form-control" placeholder="Last name"
						name="contactperson_last_name"
						ng-class="{ 'input-error': form.contactperson_last_name.$dirty && form.contactperson_last_name.$invalid }"
						required
						minlength="2"
						maxlength="50" />
					
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<input ng-model="data.contactperson.phone_countrycode" type="text" class="form-control" placeholder="+45"
					maxlength="3" />
				</div>

				<div class="col-md-5">
					<input ng-model="data.contactperson.phone" type="number" class="form-control" placeholder="Phone number"
						name="contactperson_phone"
						ng-class="{ 'input-error': form.contactperson_phone.$dirty && form.contactperson_phone.$invalid }"
						required
						min="10000000"
						max="9999999999" />
					
				</div>
				<div class="col-md-5">
					<input ng-model="data.contactperson.email" type="text" class="form-control" placeholder="E-mail address"
						name="contactperson_email"
						ng-class="{ 'input-error': form.contactperson_email.$dirty && form.contactperson_email.$invalid }"
						required
						ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" />
					
				</div>
			</div>



			<div class="row">
				<div class="col-md-12">
					<b>Address</b>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<input ng-model="data.address.street" type="text" class="form-control" placeholder="Street"
						name="street"
						ng-class="{ 'input-error': form.street.$dirty && form.street.$invalid }"
						required
						minlength="2"
						maxlength="50" />
					
				</div>

				<div class="col-md-3">
					<input ng-model="data.address.postal" type="number" class="form-control" placeholder="Postal code"
						name="postal"
						ng-class="{ 'input-error': form.postal.$dirty && form.postal.$invalid }"
						required
						min="1000"
						max="9999" />
					
				</div>

				<div class="col-md-3">
					<input ng-model="data.address.city" type="text" class="form-control" placeholder="City"
						name="city"
						ng-class="{ 'input-error': form.city.$dirty && form.city.$invalid }"
						required
						minlength="2"
						maxlength="50" />

				</div>
				
				<div class="col-md-3">
					<input ng-model="data.address.country" type="text" class="form-control" placeholder="Country"
						name="country"
						ng-class="{ 'input-error': form.country.$dirty && form.country.$invalid }"
						required
						minlength="2"
						maxlength="50" />

				</div>
			</div>


		</div>

	</form>

</div>
<div class="modal-footer">

    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-if="step == 2" ng-click="register()" ng-disabled="form.$invalid" >Register</button>
	<button class="btn btn-primary" ng-if="step == 1" ng-disabled="!type" ng-click="nextStep()">Next</button>

</div>
