@import url('mixins.less');
@import url('colors.less');


.cloqet-item {
	width: 50%;
	height: 30%;
	overflow: hidden;

	position: relative;

	float: left;

	background-color: @white;

	font-size: 13px;

	.image {
		width: 100%;
		height: 200px;

		.background-cover();
	}

	.info {
		width: 100%;
		height: 100%; 
		padding: 10px;
		padding-top: 70px;

		background-color: rgba(255, 255, 255, 0.8);
		position: absolute;

		text-align: center;

		color: @dark;
	
		.name {
			display: block;
			font-size: 16px;
			font-weight: bold;
		}

		.brand {
			display: block;
			font-size: 14px;
			margin-top: 10px;
		}

		.price {
			position: absolute;
			bottom: 10px;
			right: 10px;

			font-size: 12px;
		}

		a {
			color: @dark;
			text-decoration: none;
		}
	
		&.ng-enter {
			.flip-animation-enter();
		}
		&.ng-leave {
			.flip-animation-leave();
		}

	}

	@media (min-width: 768px) {
		width: 25%;	
	}

	@media (min-width: 1200px) {
		width: 14.285714286%;
	}

}

.gm-style-iw {
	width: 300px;
	height: 200px;
	.cloqet-item {
		@size: 100px;
		width: @size;
		height: @size;

		.image {
			width: @size !important;
			height: @size !important;
		}
	}

}

.shop-square {
	width: 50%;
	overflow: hidden;

	position: relative;

	float: left;

	background-color: @white;

	font-size: 13px;

	.items {

		padding: 30px;
		padding-top: 0px;
		padding-bottom: 0px;

		height: 140px;

		

		.cloqet-item {
			width: 50% !important;
			height: 70px;

			.image {
				background-position: 0% 0% !important;
			}
		}
	}

	.info {
		padding: 10px;

		text-align: center;

		background-color: rgba(255, 255, 255, 0.8);

		color: @dark;
	
		a {
			color: @dark;
			text-decoration: none;
		}
	}
	
	@media (min-width: 768px) {
		width: 25%;	
	}

	@media (min-width: 1200px) {
		width: 14.285714286%;
	}

}

@profile-height: 300px;
.profile {

	.top {
		width: 100%;
		height: @profile-height;

		padding: 10px;	

		background-color: white;
	}

	.cover {
		width: 100%;
		height: @profile-height;

		top: 0;
		position: absolute;

		z-index: 999999999;

		.background-cover();
		.background-full-cover();


		&.ng-enter {
			.fade-animation-enter();
		}
		&.ng-leave {
			.fade-animation-leave();
		}

		.logo {
			max-width: 125px;
			
			position: absolute;

			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

			margin: auto;

			pointer-events: none;
		}

	}

	.search {
		padding: 0px;
	}

	.top-map {
		margin: 0 !important;
		padding: 0px;
		animation: none !important;
		-webkit-animation: none !important;
		.no-animation();
	}

	.ion-map.activated {
		background-color: @dark;
		color: white !important;
	}

	.map-active {
		background-color: @dark;
		color: white !important;
	}

	.buttons {
		margin-top: 0px !important;

		.row {
			padding: 0;
		}

		.button {
			margin: 0;
			border-radius: 0;
			border-top: 0;
			border-right: 0;
			border-bottom: 0;
		}

		.searchlist {
			background-image: url('img/icon-searchlist.png');
			background-size: 30px 30px;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	.page-title {
		width: 100%;

		padding: 5px;

		font-weight: bold;
		color: @white;

		background-color: @dark-transparent;
	}
}



.list {
	.price {
		font-size: 14px;
	}
}

.button-fullsize {
	width: 100%;
	height: 100%;

	margin: 0px;

	border: 0px;
}

.button-fullsize-active {
	background-color: #dddddd;
}

.white-button {
	background-color: white;
}

.angular-google-map-container { height: 400px; }


.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.no-padding {
	padding: 0px;
}

.padding {
	padding: 10px;
}

.rotate {
	.rotate();
}

.text-center {
	text-align: center;
}

.heart-active {
	color: @white !important;
	background-color: #e34040 !important;
}

.background-center-zero {
	background-position: 0% 0% !important;
}

.ion-full-container {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}




