.background-cover() {

    background-repeat: no-repeat;

	background-size: 100%;

	background-position: center center;
}

.background-full-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.rotate() {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.flip-animation-enter() {
	-webkit-animation: flipInX .5s;
	animation: flipInX .2s;
}

.flip-animation-leave() {
	-webkit-animation: flipOutX .4s;
	animation: flipOutX .7s;
}

.fade-animation-enter() {
	-webkit-animation: fadeInDown .2s;
	animation: fadeInDown .2s;
}

.fade-animation-leave() {
	-webkit-animation: fadeOutUp .4s;
	animation: fadeOutUp .4s;
}

.no-animation() {
	-webkit-animation: 0;
	animation: 0;
}