@import url('mixins.less');

@dark: #232323;
@dark-transparent: rgba(42, 42, 42, 0.9);

@white: #f6f6f6;
@gray: #2c2c2c;
@green: #27ae60;
@blue: #2980b9;
@red: #e74c3c;

.pane {
	background-color: @white;
}

.bar {
	background-color: @gray !important;
	border:0;
	background-image: none !important;
	
	.title {
		color: @white !important;
	}
	
	.whitey {
		color: @white !important;
	}

	.back-button {
		color: @white !important;
	}
}

.menu, .menu-left {
	background-color: @dark !important;
}

.sidemenu {
	background-color: @dark;
	font-family: 'Abel', sans-serif !important;		
	font-weight: bold !important;
	color: @white !important;
	padding-top: 15px;


	input::-webkit-input-placeholder {
		padding-top: 3px;
	}
	input:-moz-placeholder {
		padding-top: 3px;
	}
	input:-ms-input-placeholder { /* IE10+ */
		padding-top: 3px;
	}

	.search {
		margin-top: 30px;
		padding: 10px;
	}

	.separator {
		width: 100%;
		padding: 7px;
		padding-left: 10px;
		
		background-color: @gray;

		font-size: 16px;
	}

	.menu-item {

		cursor: pointer;
		position: relative;
	
		font-size: 18px;
		color: @white;

		padding: 15px;
	
		.icon-container	{
			width: 30px;
			display: inline-block;

			text-align: center;

			.icon {
				font-size: 22px;
			}			
		}

		a {
			color: @white;
			text-decoration: none;

			&:active {
				color: @white;
			}
		}

	}

	.menu-item-activated {
		padding-left: 12px;
		border-left: 3px solid @white;
	}

	.item, .item-complex, .item-content, input {
		
		background-color: transparent;
		
		border: 0;

		font-size: 18px;
		color: @white;

		.activated {
			height: 100%;
			width: 4px;
			background-color: @white;

			position: absolute;
			left: 0;
			top: 0;
		}

		.icon-container	{
			width: 30px;
			display: inline-block;

			text-align: center;

			.icon {
				font-size: 22px;
			}			
		}
		
	}
	
	.active {
		border-left: 4px solid @white;
	}
}

table {
	width: 100%;

	tr {
		border-color: #ddd;
		background-color: #fff;
		color: #444;
		margin: -1px;
		border-width: 1px;
		border-style: solid;
		font-size: 16px; 

		td {
			padding: 16px;
			vertical-align: middle;
		}

	}
}

.card {
	margin: 0px;
	margin-bottom: 15px;
	box-shadow: none;

	&:last-child {
		margin: 0;
	}
}

.col-30 {
	width: 30%;
}


.scroll-view, .scroll{
width: 100%; height: 100%;
}


.loadinga {
	font-size: 30px;
}

.angular-google-map-container, .map, .angular-google-map { 
	width: 100% !important; 
	height: 100% !important; 
//	position: absolute;
	z-index: 999;
}

.fullscreen-modal {
	top: 0;
	bottom: 0; 
	left: 0;
	right: 0;
	width: 100%;
}